@tailwind base;
@tailwind components;
@tailwind utilities;

// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
//   text-decoration: none;
//   box-sizing: border-box;
// }

main {
  max-width: 98%;
  width: 900px;
  color: text-primary-50;
}

.urgent {
  font-weight: 600;
  color: #ff5555;
  padding-left: 15px;
  position: relative;
  &::after {
    position: absolute;
    left: 2px;
    top: 5px;
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
  }
}
